QWidget
{
	background-color: rgba(63, 63, 63);
}

QLabel#clock {
	font-size: 65px;
	color:white;
	font-family:Ubuntu Medium;


}

QLabel#date {
	font-size: 20px;
	color:white;
	font-family:Ubuntu Medium;

}


